body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-family: Arial, serif;
}

#container{
    display: grid;
    grid-template-columns: repeat(4, [col] 1fr);
    grid-template-rows: repeat(7, [row] 1fr);
    width: 300px;
    height: 500px;
    text-align: center;
    border: 1px solid white;
    overflow: hidden;
}

#container >div{
    /*border: 1px solid white;*/
}

#top-result{
    grid-column: col 1 / span 4;
    grid-row: row 1;
    justify-self: end;
    align-self: end;
    font-size: 45px;
    height: 15px;
    /*max-width: 100%;*/
    /*direction: rtl;*/
    /*overflow: hidden;*/
}
#bottom-result{
    grid-column: col 1 / span 4;
    grid-row: row 2;
    height: 30px;
    justify-self: end;
    align-self: end;
}


.white-buttons , .orange-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}
.white-buttons , .orange-buttons:hover{
    cursor: pointer;
}
#equal{
    background-color: orange;
    grid-column: col 3 / span 2;
    grid-row: 7;
}

.orange-buttons{
    color: orange;
}