body{
    height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-family: Arial, serif;
    background-color: black;
}
#container{
    display: grid;
    grid-template-columns: repeat(4, [col] 1fr);
    grid-template-rows: repeat(7, [row] 1fr);
    width: 300px;
    height: 500px;
    text-align: center;
}
#top-result{
    grid-column: col 1 / span 4;
    grid-row: row 1;
    justify-self: end;
    align-self: end;
    font-size: 60px;
    text-shadow: 0 0 1px #19d6d6;
}
#bottom-result{
    grid-column: col 1 / span 4;
    grid-row: row 2;
    justify-self: end;
    align-self: end;
    text-shadow: 0 0 3px aqua;
    font-size: 40px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    transition: 0.3s;
}
.buttons:hover{
    cursor: pointer;
    background: #1fbaba;
    box-shadow: 0 0 10px #06d0d0, 0 0 40px #29c4c4, 0 0 80px #19d6d6;
}
#equal{
    grid-column: col 3 / span 2;
    grid-row: 7;
    font-size: 2em;
}
#btn-percent, #btn-ac{
    font-size: 40px;
    color: #FFF;
}
#btn-back{
    padding-bottom: 9px;
}
 .operators{
    color: orange;
    font-size: 50px;
}
.scale-up{
    font-size: 60px!important;
    transition: 1s;
    overflow: hidden;
    z-index: 222;
}
.scale-down{
    font-size: 30px!important;
     transition: 1s;
 }
.vanishOut {
    animation-name: vanishOut;
    animation-duration: 1s;
}
.vanishIn {
    animation-name: vanishIn;
    animation-duration: 0.4s;
}

/* The animation code */

@keyframes vanishOut {
    0% {
        opacity: 1;
        transform: scale(1);
        filter: blur(0px); }
    100% {
        opacity: 0;
        transform: scale(2);
        filter: blur(20px); } }
@keyframes vanishIn {
    0% {
        opacity: 1;
        transform: scale(1);
        filter: blur(0px); }
    100% {
        opacity: 0;
        transform: scale(0);
        filter: blur(20px); } }